<li class="resource-item" data-id="{{ contract.id }}">
    {% set contract_url = url if not 'external_provider_name' in pkg else "#" %}
    {% block contract_item_title %}
        <a class="heading" href="{{ contract_url }}" title="{{ contract.title }}">
            {{ contract.title    }}
        </a>
    {% endblock %}
    {% block contract_dates %}
        <div> <b>Start date:</b> {{ contract.contract_start }}</div>
        <div> <b>End date:</b> {{ contract.contract_end }}</div>
    {% endblock %}
    {% block policies %}
        <br>Policies:</br>
        <ul>

        {% for policy in contract.policies %}
            <li>
                {{ policy.type }}
                {#% set attributes = list(policy) %#}
                {#  { attributes.remove("type") }} #}
                {#{% if attributes|length > 0 %}
                    <ul>

                    {% for attribute in attributes %}
                        <li>
                            <b>{{ attribute }}:</b> {{ policy[attribute] }}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %} #}
            </li>
        {% endfor %}
        </ul>

    {% endblock %}

    {% block accept_contract_action %}
        {% if 'external_provider_name' in pkg %}
            <button onclick="acceptContract('http://provider-core:8080', '{{ contract.resourceId }}', '{{ contract.artifactId }}', '{{ contract.contractId }}' )">Accept Contract</button>
        {% endif %}
    {% endblock %}
</li>