{% set datasets = h.ckanext_ids_recomm_datasets_homepage() %}
{% set services = h.ckanext_ids_recomm_services_homepage() %}
{% set applications = h.ckanext_ids_recomm_applications_homepage() %}

<div class="module module-search module-narrow module-shallow box">

	<div class="module-content" style="display:table; text-align:center; width:100%;">
		
		<h3 class="heading">Recommendations</h3>
		
		<div style="float:left; width:33.33%;">
			<h4 style="font-size:16px;">Datasets</h4>
			{% for dataset in datasets %}
				<div class="row">
					<a href="{{ dataset }} ">{{ dataset }}</a>
				</div>
			{% endfor %}
		</div>
		
		<div style="float:left; width:33.33%;">
			<h4 style="font-size:16px;">Services</h4>
			<div class="search-input form-group search-giant">
				{% for service in services %}
					<div class="row">
						<a href="{{ service }} ">{{ service }}</a>
					</div>
				{% endfor %}
			</div>
		</div>

		<div style="float:left;width:33.33%;">
			<h4 style="font-size:16px;">Applications</h4>
			<div class="search-input form-group search-giant">
				{% for application in applications %}
					<div class="row">
						<a href="{{ application }} ">{{ application }}</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
